/**
 * ETML
 * Author: Loïc Herzig
 * Date: 07.02.2019
 * Description: auth css
 */

 html, body {
     background-color: #fff;
     color: #636b6f;
     font-family: 'Raleway', sans-serif;
     height: 100vh;
     margin: 0;
     padding: 0;
 }

 .full-height {
     height: 90vh;
 }

 .flex-center {
     align-items: center;
     display: flex;
     justify-content: center;
 }

 .content {
     text-align: center;
 }

 .title {
     margin-bottom: 30px;
 }

 .alert {
   margin: 10px;
 }

 .form-login {
  margin: auto;
  max-width: 300px;
 }

 .postlogin-info {
   max-width: 400px;
 }
